/* Create four equal columns that floats next to each other */

.column {
    text-align: center;
    float: left;
    width: 23%;
    height:350px;
    background-color: #aed8d6;
    color: black;
    margin: 1%
         
  }

  .column-big {
    float: left;
    width: 48%;
    height:350px;
    background-color:  #aed8d6;
    color: black;
    margin: 1%;
    text-align: center;
    
  }
  .column-big-small {
    text-align: center;
    float: left;
    width: 23%;
    height:350px;
    background-color: #aed8d6;
    color: black;
    margin: 1%
    
      
  }
  .image {
    width: 50%;
    height: 50%;
    
  }
  h3 {
    background: black;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#aed8d6;
  }
  
  /* On screens that are 992px wide or less, go from four columns to three columns */

  @media screen and (max-width: 992px) {
    .column {
      text-align: center;
      float: left;
      width: 31.3%;
      background-color: #aed8d6;
      color: black;
      margin: 1%
      height:350px;  
    }
    .column-big {
      float: left;
      width: 64%;
      height:350px;
      background-color: #aed8d6;
      color: black;
      margin: 1%;
      text-align: center;
    }
    .column-big-small {
      text-align: center;
      float: left;
      width: 31.3%;
      height:350px;
      background-color: #aed8d6;
      color: black;
      margin: 1%
        
    }

  }
  
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 48%;
      background-color: #aed8d6;
      height:350px;
    }
    .column-big {
    float: left;
    width: 98%;
    background-color: #aed8d6;
    color: black;
    margin: 1%;
    height:350px;
  }

    .column-big-small {
    text-align: center;
    float: left;
    width: 48%;
    background-color: #aed8d6;
    color: black;
    margin: 1%
    height:350px;
    }
  
  }
  